.popup {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  visibility: hidden;
  z-index: 2;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in;
}
