.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 39px;
  margin-right: 1px;
}

@media screen and (max-width: 695px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin-top: 42px;
  }
}
