.form__main-container {
  display: 
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 460px) {
  .form__main-container {
    margin-left: 19px;
    margin-right: 19px;
  }
}







