.profile__add-buttom {
box-sizing: border-box;
background-color: transparent;
background: url('../../../images/addd.svg');
background-position: center;
background-size: auto;
background-repeat: no-repeat;
width: 150px;
height: 50px;
cursor: pointer;
padding: 0;
margin: 0;
border-radius: 2px;
transition-duration: 1s;
border: 1px solid #FFFFFF;
}

@media screen and (max-width: 695px){
.profile__add-buttom {
width: 100%;
  }
}

.profile__add-buttom:hover{
  opacity: 0.6;
}
