.popup__closeicon {
  background: url('../../../images/CloseIcon.svg');
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  top: -40px;
  right: -40px;
  border: none;
  transition-duration: 0.3s;
}

.popup__closeicon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__closeicon {
    top: -36px;
    right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .popup__closeicon {
    width: 20px;
    height: 20px;
  }
}
